.space{
    padding-left: 35px;
    padding-right: 55px;
   
}
.radious{
    border-radius: 20px;
    transition-duration: 0.4s;
    border-radius: 40px;
    border: 0;
    font-size: medium;
    padding: 1rem 2rem;
    white-space: nowrap;
    margin: 4px 2px;
    cursor: pointer;
}
.backcolour{
    background-color: rgb(78, 129, 240);
}